[mysqld]
# For advice on how to change settings please see
# http://dev.mysql.com/doc/refman/5.7/en/server-configuration-defaults.html
#
# Remove leading # and set to the amount of RAM for the most important data
# cache in MySQL. Start at 70% of total RAM for dedicated server, else 10%.
# innodb_buffer_pool_size = 128M
#
# Remove leading # to turn on a very important data integrity option: logging
# changes to the binary log between backups.
# log_bin
#
# Remove leading # to set options mainly useful for reporting servers.
# The server defaults are faster for transactions and fast SELECTs.
# Adjust sizes as needed, experiment to find the optimal values.
# join_buffer_size = 128M
# sort_buffer_size = 2M
# read_rnd_buffer_size = 2M
skip-host-cache
skip_ssl
# 登錄時跳過權限檢查
# skip-grant-tables
skip-name-resolve
datadir=/var/lib/mysql
socket=/var/run/mysqld/mysqld.sock
secure-file-priv=/var/lib/mysql-files
user=mysql

log_error = /var/log/manager_node1-error.log

# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0

#log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid

# 啟用二進制日誌
log-bin
# 設定伺服器 ID
server-id=21

# 將 binlog checksum 設置為 NONE
binlog_checksum=NONE

# 啟用 GTID (Global Transaction ID)
# 啟用 GTID 一致性強制
enforce_gtid_consistency=ON
# 啟用 GTID 模式
gtid_mode=ON

# 啟用日誌從伺服器更新
log_slave_updates=ON

# 將主伺服器資訊存儲庫設置為 TABLE
master_info_repository=TABLE

# 將中繼日誌資訊存儲庫設置為 TABLE
relay_log_info_repository=TABLE

# 將事務寫集提取設置為 XXHASH64
transaction_write_set_extraction=XXHASH64

# 配置 MySQL 服務器監聽的 IP 和端口
bind-address=0.0.0.0
port=1306

expire_logs_days=10
max_binlog_size=1024M
# innodb_buffer_pool_size=16G
# innodb_log_file_size=1G


slow_query_log=on
slow-query-log-file=/var/log/manager_node_1-slow.log
long_query_time=2

# query_cache_limit=1024M
# query_cache_size=1024M

max_connections=2048

# key_buffer_size=2048M
max_allowed_packet=2048M

wait_timeout=120
interactive_timeout=120
log_warnings=1

# [client]
# socket=/var/run/mysqld/mysqld.sock

# !includedir /etc/mysql/conf.d/
# !includedir /etc/mysql/mysql.conf.d/