[mysqld]
# For advice on how to change settings please see
# http://dev.mysql.com/doc/refman/5.7/en/server-configuration-defaults.html
skip_ssl
log_error = /var/log/node2-error.log

# 啟用二進制日誌
log-bin
# 設定伺服器 ID
server-id=12

# 將 binlog checksum 設置為 NONE
binlog_checksum=NONE

# 啟用 GTID (Global Transaction ID)
# 啟用 GTID 一致性強制
enforce_gtid_consistency=ON
# 啟用 GTID 模式
gtid_mode=ON

# 啟用日誌從伺服器更新
log_slave_updates=ON

# 將主伺服器資訊存儲庫設置為 TABLE
master_info_repository=TABLE

# 將中繼日誌資訊存儲庫設置為 TABLE
relay_log_info_repository=TABLE

# 將事務寫集提取設置為 XXHASH64
transaction_write_set_extraction=XXHASH64

# 配置 MySQL 服務器監聽的 IP 和端口
bind-address=0.0.0.0
port=1206

expire_logs_days=10
max_binlog_size=1024M
# innodb_buffer_pool_size=16G
# innodb_log_file_size=1G

slow_query_log=on
slow-query-log-file=/var/log/node_2-slow.log
long_query_time=2

# query_cache_limit=1024M
# query_cache_size=1024M

max_connections=2048

# key_buffer_size=2048M
max_allowed_packet=2048M

wait_timeout=120
interactive_timeout=120
log_warnings=1